<div class="flex flex-col gap-4" data-controller="form-validation">
  <%= form_with(model: profile, url: profile.new_record? ? admin_index_path : admin_path(profile), local: true) do |form| %>
    
    <div class="mt-4">
      <%= form.label :name, "ชื่อ-นามสกุล", class: "font-bold" %>
      <%= form.text_field :name,
                          data: { action: "input->form-validation#validate", form_validation_target: "name" },
                          class: "border rounded w-full py-2 px-3 focus:outline-blue-500" %>
    </div>

    <div class="mt-4">
      <%= form.label :role, "ตำแหน่ง", class: "font-bold" %>
      <%= form.text_field :role,
                          data: { action: "input->form-validation#validate", form_validation_target: "role" },
                          class: "border rounded w-full py-2 px-3 focus:outline-blue-500" %>
    </div>

    <div class="flex flex-row gap-4 mt-4 items-center">
      <%= form.submit "บันทึกข้อมูล",
                      data: { form_validation_target: "submit" },
                      class: "text-center rounded-md px-4 py-2.5 bg-gray-500 text-white font-medium" %>
      
      <%= link_to "ย้อนกลับ", admin_index_path, class: "text-center rounded-md px-4 py-2.5 bg-gray-300 hover:bg-gray-200 font-medium" %>
    </div>
  <% end %>

  <% if profile.persisted? %>
    <div class="-mt-[68px] ml-auto sm:ml-[250px]"> 
      <%= button_to "ลบ", admin_path(profile), method: :delete,
                                               form: { data: { turbo_confirm: "ต้องการลบพนักงานใช่หรือไม่?" }, class: "inline-block" },
                                               class: "text-center rounded-md px-4 py-2.5 bg-red-600 hover:bg-red-500 text-white font-medium cursor-pointer" %>
    </div>
  <% end %>
</div>